test/mocha/server/service/data/oca/linc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.linc" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.linc" xmlns:intf="http://ws.linc" xmlns:tns1="http://rpc.xml.coldfusion" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by ColdFusion-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.linc" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://rpc.xml.coldfusion"/>
   <element name="PasswordUpdate">
    <complexType>
     <sequence>
      <element name="Inputs" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="PasswordUpdateResponse">
    <complexType>
     <sequence>
      <element name="PasswordUpdateReturn" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns1:CFCInvocationException"/>
   <element name="SBA_LINC">
    <complexType>
     <sequence>
      <element name="SBA_LINC" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="SBA_LINCResponse">
    <complexType>
     <sequence>
      <element name="SBA_LINCReturn" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://rpc.xml.coldfusion"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://rpc.xml.coldfusion" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <complexType name="CFCInvocationException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>
   <wsdl:message name="CFCInvocationException">
      <wsdl:part element="impl:fault" name="fault">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="PasswordUpdateResponse">
      <wsdl:part element="impl:PasswordUpdateResponse" name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="SBA_LINCResponse">
      <wsdl:part element="impl:SBA_LINCResponse" name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="SBA_LINCRequest">
      <wsdl:part element="impl:SBA_LINC" name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="PasswordUpdateRequest">
      <wsdl:part element="impl:PasswordUpdate" name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:portType name="linc">
      <wsdl:operation name="PasswordUpdate">
         <wsdl:input message="impl:PasswordUpdateRequest" name="PasswordUpdateRequest">
       </wsdl:input>
         <wsdl:output message="impl:PasswordUpdateResponse" name="PasswordUpdateResponse">
       </wsdl:output>
         <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException">
       </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="SBA_LINC">
         <wsdl:input message="impl:SBA_LINCRequest" name="SBA_LINCRequest">
       </wsdl:input>
         <wsdl:output message="impl:SBA_LINCResponse" name="SBA_LINCResponse">
       </wsdl:output>
         <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException">
       </wsdl:fault>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="linc.cfcSoapBinding" type="impl:linc">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="PasswordUpdate">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="PasswordUpdateRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="PasswordUpdateResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="CFCInvocationException">
            <wsdlsoap:fault name="CFCInvocationException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="SBA_LINC">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="SBA_LINCRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="SBA_LINCResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="CFCInvocationException">
            <wsdlsoap:fault name="CFCInvocationException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SBA LINC Web Services">
      <wsdl:port binding="impl:linc.cfcSoapBinding" name="linc.cfc">
         <wsdlsoap:address location="https://catweb2.sba.gov/linc/ws/linc.cfc"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>

